/target
/.cargo/
/.local/
**/combat_*.txt
ref-files
CLAUDE.local.md
scripts/*
orbs-conversion/
test-log-files/operations
test-log-files/50mb/*.txt
design/*
test-log-files/large/*.txt
.vscode/
packaging